section#contact.contact-section
  h2 contact me
  .contact-grid
    .contact-item
      a(href="https://twitter.com/", target="_blank")
        i.fab.fa-twitter
    .contact-item
      a(href="https://www.facebook.com/", target="_blank")
        i.fab.fa-facebook-f
    .contact-item
      a(href="https://www.instagram.com/?hl=en", target="_blank")
        i.fab.fa-instagram
    .contact-item
      a#profile-link(href="https://github.com/Buttacavoli01", target="_blank")
        i.fab.fa-github-alt
    .contact-item
      a(href="https://codepen.io/buttacavoli01/", target="_blank")
        i.fab.fa-codepen
    .contact-item
      a(href="https://www.linkedin.com/in/abutta1547/", target="_blank")
        i.fab.fa-linkedin-in
