section#contact
  h2 contact me
  .contact-grid
    a(href="https://twitter.com/")
      i.fab.fa-twitter
    a(href="https://www.facebook.com/")
      i.fab.fa-facebook-f
    a(href="https://www.instagram.com/?hl=en")
      i.fab.fa-instagram
    a(href="https://github.com/Buttacavoli01")
      i.fab.fa-github-alt
    a(href="https://codepen.io/buttacavoli01/")
      i.fab.fa-codepen
    a(href="https://www.linkedin.com/in/abutta1547/")
      i.fab.fa-linkedin-in
