@import 'main'

nav
  background-color: rgba(0, 0, 0, .9)
  font-size: 1.2em
  grid-area: nav
  position: fixed
  right: 0
  top: 0
  width: 100%

  .nav
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 80%
    z-index: 1


  ul
    list-style-type: none


    .nav-link
      text-decoration: none
      color: red
      cursor: pointer
